// Sass responsive mixins

@mixin bp($size) {
    @if $size == xs-phone-only {
        @media (max-width: 350px) {
            @content;
        }
    }
    @else if $size == small-phone-only {
        @media (max-width: 576px) {
            @content;
        }
    } @else if $size == phone-only {
        @media (min-width: 576px) {
            @content;
        }
    } @else if $size == tablet-portrait-down {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $size == tablet-portrait-up {
        @media (min-width: 768px) {
            @content;
        }
    }  @else if $size == tablet-landscape-down {
        @media (max-width: 992px) {
            @content;
        }
    } @else if $size == tablet-landscape-up {
        @media (min-width: 992px) {
            @content;
        }
    } @else if $size == desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $size == desktop-down {
        @media (max-width: 1200px) {
            @content;
        }
    } @else if $size == big-desktop-up {
        @media (min-width: 1400px) {
            @content;
        }
    }@else if $size == big-desktop-down {
        @media (max-width: 1400px) {
            @content;
        }
    }
}
