@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    background-color: #F7FDFF;
    font-family: 'Roboto', sans-serif;
}
section {
    &:nth-child(odd) {
        background-color: #ffffff;
    }
    &:nth-child(even) {
        .row {
            flex-direction: row-reverse;
        }
    }
}

p, span, h1, h2, h3, h4, h5, h6, article, strong, b, a, li, button {
    color: #333333;
}