/*@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700&display=swap");


html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body {
    /*position:relative;*/


    background-color: #F7FDFF;
    font-family: "Open Sans", sans-serif;
}

section:nth-child(odd) {
    background-color: #ffffff;
}

section:nth-child(even) .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

p, span, h1, h2, h3, h4, h5, h6, article, strong, b, a, li, button {
    color: #333333;
    margin: 0;
    padding: 0;
}

button,
.btn {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-outline-primary {
    border-color: #00b3db;
    border-radius: 10px;
    border-width: 2px;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #00b3db;
    color: #ffffff !important;
    border-color: #00b3db;
}

.btn-primary {
    border-color: #00b3db;
    background-color: #00b3db;
    border-radius: 10px;
    border-width: 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: transparent;
    border-color: #00b3db;
    color: #00b3db !important;
    border-color: #00b3db;
}

.rectangle {
    width: 293px;
    height: 258px;
    position: relative;
    border-radius: 60px 30px;
}

.rectangle img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.phoneHover:hover {
    color: #00b3db;
}

.icon:hover {

    transition: all .5s;
    transform: scale(1.0);
    margin-bottom: 0px !important;
    font-size: 32px;
    cursor: pointer;
}

.mobile-show {
    display: none !important;
}

.desk-show {
    display: block;
!important;
    /*display: flex !important;*/
}

.about-table {
    display: flex!important;
    flex-wrap: nowrap !important;
}

/*mobile*/

@media (max-width: 768px) {
    .rectangle {
        width: 100%;
        margin-bottom: 30px;
        height: 170px;
    }

    .rectangle img {
        width: 233px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .container {
        height: auto !important;
    }

    .contact-btn-black {
        padding: 0 !important;
        width: 110px !important;
        height: 40px !important;
    }

    .contact-btn-orange {
        padding: 10px 21px !important;
    }

    .mobile-show {
        display: flex !important;
    }

    .desk-show {
        display: none !important;
    }

    .btn-outline-primary {
        width: 110px;
        height: 40px;

    }

    .mobile-gap {
        display: flex;
        flex-gap: 12px
    }


    .provide {
        font-size: 28px !important;
    }

    .logos {
        width: 100% !important;
    }

    .mob-nav {
        background: white!important;
        padding: 0px 30px !important;
    }

    .navbar-collapse {
        background: white !important;
        padding: 0 12px !important;
    }

    .customers-back {
        display: none !important;
    }

    .contact-row {
        width: auto !important;
    }

    .partners {
        display: block !important;
    }

    .contact-container {
        display: block !important;
    }

    .logos-container {
        display: block
        /*!important;*/
    }

    .xcode-txt {
        display: none !important;
    }

    header {
        height: auto !important;
        position: relative !important;
        padding: 80px 18px 80px 18px !important;;
        margin: 0 !important;
    }

    .padding-30 {
        width: 169px !important;
    }

    .flex-table {
        /*flex-wrap: nowrap !important;*/
    }

    .about-table {
        display: flex!important;
        flex-wrap: nowrap !important;
    }

    .dart-img {
        height: 46px !important;
        width: 56px !important;
    }

    .about-row {
        flex-direction: column-reverse !important;
    }

    .xcode-logo {
        width: 69px !important;
        height: 49px !important;
    }


.section{

    /*padding: 100px  0 0 0 !important;*/


    /*height: 100vh !important;*/
    /*height: calc(100vh + 250px) !important;*/

    /*padding:250px 0 20px 0 !important;*/
}

.header-hero-mb {
    top: 45%!important;
}

    header{
        padding: 60px 18px !important;
   /*padding: 45% 18px !important;*/
    height: 100%!important;
}
    #ui{
        margin-top: 0!important;
    }

    #services, #contact, #products, #customers, #partners,  #about  {
        /*height: 100%  !important;*/

        /*height: 100vh  !important;*/

        /*position: relative!important;*/
        /*display: flex!important;*/
        /*flex-direction: column!important;*/
        /*justify-content: center!important;*/
        align-items: center !important;

/*padding-top: 160px!important;*/
/*        height: calc(100vh + 90px) !important;*/
    }

/*    #about {*/
/*margin: auto!important;*/
/*        padding: 90px 18px  0px 18px !important;*/
/*    !*     top : 60*!*/
/*    }*/

/*    #partners, #customers {*/
/*        padding: 90px 18px 0 18px !important;*/
/*    !*    0 18*!*/
/*    }*/

/*    #services {*/
/*        padding:  60px 18px !important;*/
/*    }*/

/*    #products {*/
/*        padding:   60px 18px 60px 18px !important;*/
/*    }*/

/*    #contact {*/
/*        padding:  60px 18px !important;*/
/*    }*/

    .products-Txt {
        font-size: 23px !important;
    }

    .products-img {
        width: 258px !important;
        height: auto !important;
        margin: auto auto 10px auto !important
    }


    .header-hero-mb {
        position: absolute !important;
        width: 50% !important;
        right: 10px !important;
        /*top: 250px !important;*/
    }

    .container {
        /*padding: 0 30px !important;*/
    }

    .dev-header {
        width: 100% !important;
        justify-content: space-between !important;
        display: flex !important;
        align-items: center !important;
    }

    #frontend, #backend, #ui, #ios, #it, #ios, #it {
        height: auto !important;
        padding: 9px 13px !important;
    }

    #ios, #it {
        margin-top: 0 !important;
    }


    .about-row {
        flex-direction: column !important;
    }

    .partners-txt {
        width: 150px !important;
    }

    .mobile-w-50 {
        padding-top: 30px !important;
        width: 145px !important;
    }

    .mobile-partners-img {
        display: block !important;
        position: absolute !important;
        top:33% !important;
        /*top: 50px !important;*/
        z-index: 999 !important;
        right: 50px !important;
        width: 195px !important;
    }

    .mobile-partners-container {
        display: flex;
    }

    .partners-img-blue-bg {
        top: 40px !important;
        width: 210px !important;
        height: 189px !important;
    }


    .contact-list {
        justify-content: space-between !important;
        flex-direction: row !important;
    }

    .contact-list:first-child {
        padding-top: 15px !important;
    }

    .contact-list:last-child {
        padding-bottom: 15px !important;
    }


    .contact-list-flex {
        display: block !important;
    }

    .contact-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .contact-title {
        margin-bottom: 40px !important;
    }

    .orange-span {
        font-size: 12px !important;
    }

    .teamOfDev {
        font-size: 23px !important;
        line-height: 31.32px !important;
    }

    .dev-image {
        width: 274px !important;
        height: 214px !important;
        margin: 0 auto !important;
    }

    .table-header {
        font-size: 20px !important;
    }

    .cell {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .dev-header {
        font-weight: 700 !important;
        font-size: 16px !important;
    }

    .section-title {
        font-size: 23px !important;
    }

    footer{
        padding: 20px 18px 50px 18px!important;
    }

     .footer-top__logo{
         margin-bottom: 0!important;
         display: flex!important;
         justify-content: flex-start!important;
         align-items: center!important;
         position: relative!important;
         left: -30px!important;
     }

}

/* end of mobile*/

.contact-list-flex {
    display: flex;
    gap: 70px;
    align-items: center
}

.mobile-partners-img {
    display: none;
}

.rectangle.rectangle-1 {
    background: linear-gradient(127.79deg, #a0eeff 0%, #9b99ff 100%);
}

.rectangle.rectangle-2 {
    background: linear-gradient(232.21deg, #FFE5A0 0%, #CCFF99 100%);
}

.rectangle.rectangle-3 {
    background: linear-gradient(127.79deg, #FFD029 0%, #FF6868 100%);
}

.rectangle.rectangle-4 {
    background: linear-gradient(127.79deg, #BFA0FF 0%, #FF9999 100%);
}

.tags {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 15px;
}

.tags .tag {
    background-color: #E6F8FC;
    color: #00B3DB;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 0;
}

.tags .tag:hover {
    background-color: #00B3DB;
    color: #ffffff;
}

.tags .more-primary {
    background-color: #00B3DB;
    color: #ffffff;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 10px;
    border: 2px solid #00B3DB;
    font-size: 14px;
    margin-bottom: 0;
}

.tags .more-primary:hover {
    background-color: transparent;
    color: #00B3DB;
}

.tags .more-outline {
    background-color: transparent;
    color: #00B3DB;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 10px;
    border: 2px solid #00B3DB;
    font-size: 14px;
    margin-bottom: 0;
}

.tags .more-outline:hover {
    background-color: #00B3DB;
    color: #ffffff;
}

@media (max-width: 1200px) {
    .tags {
        width: 85%;
    }
}

@media (max-width: 992px) {
    .tags {
        width: 100%;
    }

    /*    added by Jale*/
    .back-figure {
        display: none !important;
    }
}

.logos {

    width: 670px;
    /*width: 100%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
    margin: 40px 0;
}

.logos-img {
    width: 120px;
    height: 80px;
}

.logos-img a {
    height: 100%;
}

.logos-img img {
    height: 100%;
}

.navbar {
    background: #ffffff;
    /*padding: 15px 30px !important;*/
    /*padding: 25px 30px !important;*/
    padding: 1.5rem  0px;
    /*padding: 1.5rem 0;*/
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);


}

.navbar .navbar-brand {
    margin-right: 0;
}

@media (max-width: 768px) {
    .navbar .navbar-brand img {
        width: 110px;
    }
}

.navbar .navbar-container {
    display: none;
}

@media (max-width: 768px) {
    .navbar .navbar-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.navbar .navbar-toggler {
    border: none !important;
}

.navbar .navbar-nav {
    -webkit-column-gap: 40px;
    column-gap: 40px;
}

@media (max-width: 992px) {
    .navbar .navbar-nav {
        -webkit-column-gap: 20px;
        column-gap: 20px;
    }

    /*    added by Jale*/
    .back-figure {
        display: none !important;
    }
}

.navbar .navbar-collapse.show .navbar-nav,
.navbar .collapsing .navbar-nav {
    margin-top: 1rem;
}

.navbar .nav-link {
    color: #333333;
}

.nav-link:hover {
    font-weight: 600;
}

.nav-item {
    min-width: 50px;
    max-width: 100px;
}


.navbar .btn-outline-primary {
    margin-left: 50px;
}

@media (max-width: 992px) {
    .navbar .btn-outline-primary {
        margin-left: 30px;
    }

    /*    added by Jale*/
    .back-figure {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .navbar .btn-outline-primary {
        margin-left: 0;
    }
}

.navbar .navbar-btn-mb {
    display: none;
    width: 110px;
    height: 40px;
    line-height: 19px;
}

@media (max-width: 768px) {
    .navbar .navbar-btn-mb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.navbar .navbar-btn-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 140px;
    height: 40px;
}

@media (max-width: 768px) {
    .navbar .navbar-btn-lg {
        display: none;
    }
}

header {
    padding: 80px 0;
}

header .header-top h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 140%;
    color: #333333;
}

@media (max-width: 768px) {
    header .header-top h1 {
        font-size: 28px;
    }
}

header .header-top h1 b {
    font-size: 40px;
    font-weight: 800;
    line-height: 140%;
}

@media (max-width: 768px) {
    header .header-top h1 b {
        font-size: 26px;
    }
}

@media (max-width: 350px) {
    header .header-top h1 b {
        font-size: 25px;
    }

    header .header-top h1 b img {
        width: 23px;
    }
}

header .header-top a.btn {
    width: 150px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    header .header-top a.btn {
        display: none;
    }
}

header .header-bottom {
    margin-top: 100px;
}

@media (max-width: 768px) {
    header .header-bottom {
        margin-top: 50px;
    }
}

header .header-bottom .row {
    -webkit-column-gap: 50px;
    column-gap: 50px;
    row-gap: 30px;
}

@media (max-width: 350px) {
    header .header-bottom .row {
        -webkit-column-gap: 20px;
        column-gap: 20px;
    }
}

@media (max-width: 768px) {
    header .header-bottom .row .col-xs-5 {
        width: 170px;
    }
}

@media (max-width: 768px) {
    header .header-bottom .row .col-xs-4 {
        width: 100px;
    }
}

header .header-bottom .row .col-md-3 {
    width: 300px;
}

header .header-bottom .row .card {
    padding: 30px;
    -webkit-box-shadow: 0px 10px 20px rgba(74, 74, 74, 0.1);
    box-shadow: 0px 10px 20px rgba(74, 74, 74, 0.1);
    border-radius: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
}

header .header-bottom .row .card p {
    font-size: 30px;
    font-weight: 600;
    color: #00b3db;
    margin-bottom: 5px;
}

header .header-bottom .row .card span {
    font-size: 16px;
    color: #333333;
}

@media (max-width: 768px) {
    header .header-bottom .row .card {
        background-color: transparent !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 50px;
        padding: 0;
        -webkit-column-gap: 10px;
        column-gap: 10px;
    }

    header .header-bottom .row .card img {
        height: 34px;
    }

    header .header-bottom .row .card p {
        font-size: 24px;
    }

    header .header-bottom .row .card span {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    header .header-hero-lg {
        display: none;
    }
}

header .header-hero-mb {
    display: none;
}

@media (max-width: 768px) {
    header .header-hero-mb {
        display: block;
    }

    header .header-hero-mb img {
        width: 150px;
    }
}

@media (max-width: 350px) {
    header .header-hero-mb img {
        width: 120px;
    }
}

.section {
    /*padding: 90px 0;*/
    padding: 126px 0;
}

.section .row .section-title {
    font-size: 40px;
    font-weight: 700;
}

.section .row .section-text {
    font-size: 16px;
    line-height: 250%;
}

@media (max-width: 992px) {
    .section .row .section-text {
        line-height: 150%;
    }

    /*    added by Jale*/
    .back-figure {
        display: none !important;
    }
}

.section.section-5 {
    padding: 140px 0;
}

.section.section-5 h3 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    .section.section-5 h3 {
        font-size: 28px;
    }
}

.section.section-5 .contact-list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 25px;
    column-gap: 25px;
}

@media (max-width: 576px) {
    .section.section-5 .contact-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 15px;
    }
}

.section.section-5 .contact-list li {
    list-style: none;
}

.section.section-5 .contact-list li a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}

.section.section-5 .contact-list li a:hover {
    color: #00b3db;
}

.section.section-5 .contact-list li a img {
    width: 20px;
}

.section.section-5 form {
    width: 400px;
    margin: 20px auto;
}

@media (max-width: 576px) {
    .section.section-5 form {
        width: 330px;
    }
}

@media (max-width: 350px) {
    .section.section-5 form {
        width: 300px;
    }
}

.section.section-5 form input {
    width: 220px;
    height: 45px;
    border: none;
    background: #f8f8f8;
    border-radius: 12px;
    color: #cecece;
    font-size: 16px;
    padding: 13px 20px;
}

.section.section-5 form input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.section.section-5 form input::-webkit-input-placeholder {
    color: #cecece;
}

.section.section-5 form input:-ms-input-placeholder {
    color: #cecece;
}

.section.section-5 form input::-ms-input-placeholder {
    color: #cecece;
}

.section.section-5 form input::placeholder {
    color: #cecece;
}

@media (max-width: 576px) {
    .section.section-5 form input {
        width: 180px;
    }
}

@media (max-width: 350px) {
    .section.section-5 form input {
        width: 175px;
    }
}

.section.section-5 form button {
    width: 180px;
    height: 45px;
    background: #00b3db;
    color: #ffffff;
    border-radius: 0px 12px 12px 0px;
    border: 2px solid #00b3db;
}

.section.section-5 form button:hover {
    border: 2px solid #00b3db;
    background: transparent;
    color: #00b3db;
}

@media (max-width: 576px) {
    .section.section-5 form button {
        width: 150px;
    }
}

@media (max-width: 350px) {
    .section.section-5 form button {
        width: 125px;
    }
}

footer {
    padding: 100px 0 35px 0;
    background-repeat: no-repeat;
    height: 373px;
    background-size: 100% 100%;
    background-image: url('../../assets/img/footer.png') !important;
    /*padding: 30px 0 20px 0;*/
}

footer .footer-top__logo {
    margin-bottom: 20px;
}

footer .footer-top__text {
    font-size: 14px;
    color: #ffffff;
    opacity: 0.6;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    footer .footer-top .footer-menu {
        margin: 30px 0 30px 0;
    }
}

footer .footer-top .footer-menu__navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style: none;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    padding: 0;
}

@media (max-width: 768px) {
    footer .footer-top .footer-menu__navbar {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-column-gap: 0;
        column-gap: 0;
    }
}

footer .footer-top .footer-menu__link {
    font-size: 16px;
    color: #ffffff;
}

@media (max-width: 576px) {
    footer .footer-top .footer-menu__link {
        font-size: 14px;
    }
}

footer .footer-top .footer-social {
    width: 100%;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media (max-width: 768px) {
    footer .footer-top .footer-social {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}


.footer-social__title {
    color: #ffffff;
    text-align: right;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
}

footer .footer-top.footer-social__title {
    font-size: 14px;
    /*color: #ffffff;*/
    /*opacity: .6;*/
}

footer .footer-top .footer-social__navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-column-gap: 10px;
    column-gap: 24px;
    padding: 10px 0 0 0;
}

@media (max-width: 768px) {
    footer .footer-top .footer-social__navbar {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

footer .footer-top .footer-social__item {
    list-style: none;
}

footer .footer-bottom hr {
    height: 0;
    border: 1px solid #ffffff;
    display: none;
}

@media (max-width: 768px) {
    footer .footer-bottom hr {
        display: block;
    }
}

footer .footer-bottom__text {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 768px) {
    footer .footer-bottom__text {
        font-size: 12px;
    }
}


/*# sourceMappingURL=style.css.map */
