footer {
    background: url(/assets/img/footer.png);
    padding: 30px 0 20px 0;
    .footer-top {
        &__logo {
            margin-bottom: 20px;
        }
        &__text {
            font-size: 14px;
            color: #ffffff;
            opacity: 0.6;
            margin-bottom: 0;
        }
        .footer-menu {
            @include bp(tablet-portrait-down) {
                margin: 30px 0 30px 0;
            }
            &__navbar {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                list-style: none;
                column-gap: 40px;
                padding: 0;
                @include bp(tablet-portrait-down) {
                    justify-content: space-between;
                    column-gap: 0;
                }
            }
            &__link {
                color: var(--white, #FFF);
                /* main text */
                text-decoration: none!important;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.64px;

                @include bp(small-phone-only) {
                    font-size: 14px;
                }
            }
        }
        .footer-social {
            width: 100%;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @include bp(tablet-portrait-down) {
                align-items: center;
            }
            &__title {
                font-size: 14px;
                color: #ffffff;
                opacity: .6;
            }
            &__navbar {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                column-gap: 10px;
                padding: 0;
                @include bp(tablet-portrait-down) {
                    justify-content: center;
                }
            }
            &__item {
                list-style: none;
            }
        }
    }
    .footer-bottom {
        hr {
            height: 0;
            border: 1px solid #ffffff;
            display: none;
            @include bp(tablet-portrait-down) {
                display: block;
            }
        }
        &__text {
            //color: var(--white, #FFF);
            /* main text */
            text-decoration: none!important;
            //font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.64px;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            @include bp(tablet-portrait-down) {
                font-size: 12px;
            }
        }
    }
}
